@page "/article-editor"
@inject ISender Sender

<PageTitle>Create New Article</PageTitle>
<h3>Create New Article</h3>
<EditForm Model="Article" OnSubmit="HandleSubmit" FormName="ArticleEditorForm">
    <InputText @bind-Value="Article.Title" class="form-control" />
    <InputTextArea @bind-Value="Article.Content" class="form-control" />
    <InputDate @bind-Value="Article.DatePublished" class="form-control" />
    <div class="form-check">
        <InputCheckbox @bind-Value="Article.IsPublished" class="form-check-input" />
        <label class="form-check-label">Is Published</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [SupplyParameterFromForm]
    public ArticleModel Article { get; set; } = new();

    private async Task HandleSubmit(EditContext arg)
    {
        var command = Article.Adapt<CreateArticleCommand>();
        var result = await Sender.Send(command);
        Article = result.Adapt<ArticleModel>();
    }

}
