@page "/articles"

@inject ISender Sender
@attribute [StreamRendering]

<h3>Articles</h3>

@if (_articles.Count > 0)
{

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in _articles)
            {
                <tr>
                    <td>@article.Id</td>
                    <td>@article.Title</td>
                    <td>@article.Content</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    private List<Article> _articles = [];

    protected override async Task OnInitializedAsync()
    {

        var result = await Sender.Send(new GetArticlesQuery());
        _articles = result;
    }

}
