<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData"
                            DefaultLayout="@typeof(BlogLayout)">
            <NotAuthorized>
                <span>You are not authorized</span>
      @*           <RedirectToLogin /> *@
            </NotAuthorized>
        </AuthorizeRouteView>
@* 
        <RouteView RouteData="routeData" DefaultLayout="typeof(BlogLayout)" /> *@
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>

</Router>
