@page "/article-editor"
@page "/article-editor/{ArticleId:int}"



@inject ISender Sender
@inject NavigationManager NavigationManager
@if (IsEditMode && Article is not null)
{
    <PageTitle>Edit Article "@Article.Title"</PageTitle>
    <h3>Edit Article "@Article.Title"</h3>
}
else
{
    <PageTitle>Create New Article</PageTitle>
    <h3>Create New Article</h3>
}
@if (Article is not null)
{
    <EditForm Model="Article" OnSubmit="HandleSubmit" FormName="ArticleEditorForm">
        <InputText @bind-Value="Article.Title" class="form-control" />
        <InputTextArea @bind-Value="Article.Content" class="form-control" />
        <InputDate @bind-Value="Article.DatePublished" class="form-control" />
        <div class="form-check">
            <InputCheckbox @bind-Value="Article.IsPublished" class="form-check-input" />
            <label class="form-check-label">Is Published</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>

    if (IsEditMode)
    {
        <p>
            <form @onsubmit="DeleteArticle" @formname="DeleteArticleForm" method="post">
                <button type="submit" class="btn btn-danger">Delete Article</button>
                <AntiforgeryToken />
            </form>
        </p>
    }


}

<span class="text-danger">@errorMessage</span>

@code {
    private bool IsEditMode => ArticleId is not null; // != null //ArticleId.HasValue;

    [SupplyParameterFromForm]
    public ArticleModel? Article { get; set; }

    [Parameter]
    public int? ArticleId { get; set; }

    private string errorMessage = string.Empty;
    protected override async Task OnParametersSetAsync()
    {
        if (ArticleId is not null)
        {
            var result = await Sender.Send(new GetArticleByIdQuery { Id = (int)ArticleId });
            if (result.Success)
            {
                Article ??= result.Value.Adapt<ArticleModel>();
                Article.Id = (int)ArticleId;
            }
            else
            {
                SetErrorMessage(result.Error);
            }
        }
        else
        {
            Article ??= new();
        }
        await base.OnParametersSetAsync();
    }

    async Task HandleSubmit(EditContext arg)
    {
        if (IsEditMode)
        {
            var command = Article.Adapt<UpdateArticleCommand>();
            var result = await Sender.Send(command);
            if (result.Success)
            {
                Article = result.Value.Adapt<ArticleModel>();  // ((ArticleReponse?)result).Adapt<ArticleModel>();
            }else
            {
                SetErrorMessage(result.Error);
            }
        }
        else
        {
            var command = Article.Adapt<CreateArticleCommand>();
            var result = await Sender.Send(command);
            if (result.Success)
            {
                Article = result.Adapt<ArticleModel>();
                NavigationManager.NavigateTo($"/article-editor/{result.Value.Id}");
            }else
            {
                SetErrorMessage(result.Error);
            }


            // Article = result.Adapt<ArticleModel>();
        }

    }

    async Task DeleteArticle()
    {
        if (ArticleId is not null)
        {
            var command = new DeleteArticleCommand { Id = (int)ArticleId };
            var result = await Sender.Send(command);
            if (result.Success)
            {
                NavigationManager.NavigateTo("/articles");
            }
            else
            {
                SetErrorMessage(result.Error);
            }
        }
    }

    void SetErrorMessage(string? message)
    {
        if (message is not null)
            errorMessage = message;
        else
            errorMessage = string.Empty;
    }

}
