@inherits LayoutComponentBase

<div class="antialiased bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 flex flex-col min-h-screen space-y-12">
    <header class="container flex items-center justify-between w-full max-w-3xl px-6 py-10 mx-auto xl:max-w-5xl">
        <div class="flex items-center">
            <div class="hidden space-x-2 font-medium sm:block">
                <a rel="noopener noreferrer" href="/" class="p-1 text-gray-700 dark:text-gray-200">Articles</a>
                <a rel="noopener noreferrer" href="/register" class="p-1 text-gray-700 dark:text-gray-200">Register</a>
            </div>
        </div>
    </header>
    <main class="container flex-1 max-w-3xl px-6 mx-auto space-y-12 xl:max-w-5xl">
        @Body
    </main>
</div>