@inject IJSRuntime JS

<header class="container flex items-center justify-between w-full max-w-3xl px-6 py-10 mx-auto xl:max-w-5xl">
    <a rel="noopener noreferrer" href="/" class="block h-6 text-2xl font-semibold text-gray-900 dark:text-gray-100">Leroy Jenkins</a>
    <div class="flex items-center">
        <div class="hidden space-x-2 font-medium sm:block">
            <a rel="noopener noreferrer" href="/" class="p-1 text-gray-700 dark:text-gray-200">Articles</a>
            <a rel="noopener noreferrer" href="/register" class="p-1 text-gray-700 dark:text-gray-200">Register</a>
            <a rel="noopener noreferrer" href="/login" class="p-1 text-gray-700 dark:text-gray-200">Login</a>
        </div>
        <button aria-label="Toggle Dark Mode" type="button" class="w-8 h-8 p-1 ml-1 mr-1 rounded sm:ml-4" @onclick="ToggleDarkMode">
            @if (IsDarkMode)
            {
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-gray-400">
                    <path fill-rule="evenodd" d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 100 2h1z" clip-rule="evenodd" />
                </svg>
            }
            else
            {
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-gray-600">
                    <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z" />
                </svg>
            }
        </button>
        <div class="sm:hidden">
            <button type="button" aria-label="Toggle Menu" class="w-8 h-8 ml-1 mr-1 rounded" @onclick="ToggleMenu">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-gray-600 dark:text-gray-400">
                    <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                </svg>
            </button>
            @if (IsMenuOpen)
            {
                <div class="fixed right-0 z-10 w-full h-full duration-300 ease-in-out transform @(IsMenuOpen ? "translate-x-0" : "translate-x-full") top-24 bg-gray-200 dark:bg-gray-100">
                    <button type="button" aria-label="Close Menu" class="fixed inset-0 z-20 w-full h-full bg-transparent" @onclick="ToggleMenu"></button>
                    <nav class="fixed top-24 left-0 w-64 h-full mt-8 bg-gray-200 dark:bg-gray-100 z-10">
                        <div class="px-12 py-4">
                            <a rel="noopener noreferrer" href="/" class="text-2xl font-bold tracking-widest text-gray-900 dark:text-gray-900" @onclick="ToggleMenu">Articles</a>
                        </div>
                        <div class="px-12 py-4">
                            <a rel="noopener noreferrer" href="/register" class="text-2xl font-bold tracking-widest text-gray-900 dark:text-gray-900" @onclick="ToggleMenu">Register</a>
                        </div>
                        <div class="px-12 py-4">
                            <a rel="noopener noreferrer" href="/login" class="text-2xl font-bold tracking-widest text-gray-900 dark:text-gray-900" @onclick="ToggleMenu">Login</a>
                        </div>
                    </nav>
                </div>
            }
        </div>
    </div>
</header>

@code {
    private bool IsMenuOpen { get; set; } = false;
    private bool IsDarkMode { get; set; } = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initDarkMode");
            IsDarkMode = await JS.InvokeAsync<bool>("document.documentElement.classList.contains", "dark");
        }
    }

    private async Task ToggleDarkMode()
    {
        IsDarkMode = !IsDarkMode;
        await JS.InvokeVoidAsync("toggleDarkMode");
    }

    private void ToggleMenu()
    {
        IsMenuOpen = !IsMenuOpen;
    }
}