@inject IJSRuntime JS

<header class="container flex items-center justify-between w-full max-w-3xl px-6 py-10 mx-auto xl:max-w-5xl">
    <a rel="noopener noreferrer" href="/" class="block h-6 text-2xl font-semibold text-gray-900 dark:text-gray-100">Leroy Jenkins</a>
    <div class="flex items-center">
        <div class="hidden space-x-2 font-medium sm:block">
            <a rel="noopener noreferrer" href="/" class="p-1 text-gray-700 dark:text-gray-200">Articles</a>
            <a rel="noopener noreferrer" href="/register" class="p-1 text-gray-700 dark:text-gray-200">Register</a>
            <a rel="noopener noreferrer" href="/login" class="p-1 text-gray-700 dark:text-gray-200">Login</a>
        </div>
        <div class="sm:hidden">
            <button type="button" aria-label="Toggle Menu" class="w-8 h-8 ml-1 mr-1 rounded" @onclick="ToggleMenu">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-gray-600 dark:text-gray-400">
                    <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                </svg>
            </button>
            @if (IsMenuOpen)
            {
                <div>
                    <div class="fixed right-0 top-24 z-10 w-64 h-full duration-300 ease-in-out transform @(IsMenuOpen ? "translate-x-0" : "translate-x-full") bg-gray-200 dark:bg-gray-100">
                        <nav class="mt-8">
                            <div class="px-12 py-4">
                                <a rel="noopener noreferrer" href="/" class="text-2xl font-bold tracking-widest text-gray-900 dark:text-gray-900" @onclick="ToggleMenu">Articles</a>
                            </div>
                            <div class="px-12 py-4">
                                <a rel="noopener noreferrer" href="/register" class="text-2xl font-bold tracking-widest text-gray-900 dark:text-gray-900" @onclick="ToggleMenu">Register</a>
                            </div>
                            <div class="px-12 py-4">
                                <a rel="noopener noreferrer" href="/login" class="text-2xl font-bold tracking-widest text-gray-900 dark:text-gray-900" @onclick="ToggleMenu">Login</a>
                            </div>
                        </nav>
                    </div>
                    <button type="button" aria-label="Close Menu" class="fixed inset-0 z-20 bg-transparent" @onclick="ToggleMenu"></button>
                </div>
            }
        </div>
    </div>
</header>

@code {
    private bool IsMenuOpen { get; set; } = false;
    private bool IsDarkMode { get; set; } = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // if (firstRender)
        // {
        //     await JS.InvokeVoidAsync("initDarkMode");
        //     IsDarkMode = await JS.InvokeAsync<bool>("document.documentElement.classList.contains", "dark");
        // }
    }

    // private async Task ToggleDarkMode()
    // {
    //     IsDarkMode = !IsDarkMode;
    //     await JS.InvokeVoidAsync("toggleDarkMode");
    // }

    private void ToggleMenu()
    {
        IsMenuOpen = !IsMenuOpen;
    }
}