@page "/register"


@inject ISender Sender
@inject NavigationManager NavigationManager


<PageTitle>Register</PageTitle>
<div class="space-y-6">
    <h2 class="text-3xl font-extrabold text-gray-50 my-6 p-4 bg-gray-800 rounded-lg">Register</h2>
    <EditForm Model="UserModel" method="post" OnValidSubmit="HandleSubmit" FormName="RegisterUserForm">
        <DataAnnotationsValidator />
        <div>
            <label for="username">User Name</label>
            <InputText id="username" @bind-Value="UserModel.UserName" class="w-full p-3 rounded border border-white dark:bg-gray-100" autocomplete="username" aria-required="true" placeholder="User Name" />
            <ValidationMessage For="() => UserModel.UserName" class="text-danger" />
        </div>
        <div>
            <label for="email">Email</label>
            <InputText id="email" @bind-Value="UserModel.Email" class="w-full p-3 rounded border border-white dark:bg-gray-100" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <ValidationMessage For="() => UserModel.Email" class="text-danger" />
        </div>
        <div>
            <label for="password">Password</label>
            <InputText id="password" type="password" @bind-Value="UserModel.Password" class="w-full p-3 rounded border border-white dark:bg-gray-100" autocomplete="new-password" aria-required="true" placeholder="password" />
            <ValidationMessage For="() => UserModel.Password" class="text-danger" />
        </div>
        <div>
            <label for="confirm-password">Confirm Password</label>
            <InputText id="confirm-password" type="password" @bind-Value="UserModel.ConfirmPassword" class="w-full p-3 rounded border border-white dark:bg-gray-100" autocomplete="new-password" aria-required="true" placeholder="password" />
            <ValidationMessage For="() => UserModel.ConfirmPassword" class="text-danger" />
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
    </EditForm>

</div>

@code {
    [SupplyParameterFromForm]
    private RegisterUserModel UserModel { get; set; } = new();
    private string errorMessage = string.Empty;

    async Task HandleSubmit()
    {
        var command = new RegisterUserCommand
            {
                UserName = UserModel.UserName,
                UserEmail = UserModel.Email,
                Password = UserModel.Password
            };
        var result = await Sender.Send(command);

        if (result.Success)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            errorMessage = result.Error ?? "Registration failed";

        }
    }

}
