@page "/user-overview"


@inject ISender Sender
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Users Overview</PageTitle>

<h2 class="text-3xl font-extrabold px-4 py-4 my-4 text-gray-900 dark:text-gray-100 bg-gray-100 dark:bg-gray-800 rounded-lg">User Overview</h2>

<h3></h3>
<ul>
    @foreach (var user in users)
    {
        <li><span>@user.UserName</span><br/></li>
    }
</ul>


@code {
    private List<UserResponse> users = [];

    protected override async Task OnInitializedAsync()
    {
        var result = await Sender.Send(new GetUsersQuery());
        if (result.Success)
        {
            users = result!;
        }else
        {
            users = [];
        }
    }
}
